@import "navigation.css";
@import "footer.css";
@import "logo.css";

:root {
    --nav-height: 4rem;
    --footer-height: 4rem;
    --color-primary: #1F2E4F;
}

.content-main {
    position: relative;
    margin-top: var(--nav-height);
    margin-bottom: var(--footer-height);
    min-height: Calc(100vh - var(--nav-height) - var(--footer-height));
}

.min-height {
    min-height: Calc(100vh - var(--nav-height) - var(--footer-height));
}

.home {
    width: -webkit-fill-available;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_box {
    display: flex;
    align-items: flex-end;
    padding: 1 rem;
}

.carousel-wrapper {
    position: relative;
    height: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.carousel, .carousel-inner, .carousel-item, .card {
    height: 100%;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.carousel-control-next {
    right: -55px;
    width: unset;
    opacity: 1;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 0.5;
}

@media (max-width: 992px) {
    .carousel-control-next {
        right: -40px;
    }
}

.carousel-control-prev {
    left: -55px;
    width: unset;
    transform: rotate(180deg);
    opacity: 1;
}

@media (max-width: 992px) {
        .carousel-control-prev {left: -40px;}
    }
}

.text-ellipsis {
    max-height: 7.5rem;
    overflow: hidden;
    /*position: relative;*/
    text-align: justify;
}

/*.text-ellipsis:before {
  content: '...';
  position: absolute;
  width: 1rem;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
}*/
.hide-on-mobile {}
    @media (max-width: 991px) {
        .hide-on-mobile {
            display:none;
        };
    }

.hide-on-desktop {}

    @media (min-width: 992px) {
        .hide-on-desktop { display: none;
    };
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.main_header {
    font-weight: bolder;
    color: #3B3B3C;
}

.counter {
    font-size: 1.75rem;
    font-family: system-ui;
}

.carousel-card {
    border: none;
}

.offset-top {
    padding-top: 1rem;
}

.margin-top-big {
    margin-top: 5rem;
}

.contain-img {
    object-fit: contain;
}

.cover-img {
    object-fit: cover;
}

.fill-img {
    object-fit: fill;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-article {
    display: flex;
    flex-direction: column;
}

.button-primary {
    color: white;
    background-color: var(--color-primary);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
}

.button-primary:hover {
    color: var(--color-primary);
    background-color: white;
}

.button-secondary {
    color: var(--color-primary);
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
}

.button-secondary:hover {
    color: white;
    background-color: var(--color-primary);
}

.grid-22 {
    display: grid;
    grid-template-columns: Calc(50% - 1.5rem) Calc(50% - 1.5rem);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

@media (max-width: 1024px) {
    .grid-22 {
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0rem;
        grid-row-gap: 3rem;
    }
}

.article-list-img{
    width: 40%;
}

.article-list-body{
    width: 60%;
}

.minw-50{
    min-width: 50%;
}

.link-reset {
    color: unset;
    text-decoration: unset;
}

.article-list-box {
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    .grid-22 > a{
        width: 80%;
        justify-self: center;
    }

    .article-list-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .article-list-img{
        width: 100%;
    }

    .article-list-body{
        width: 100%;
    }
}

.pagination-btn {
    padding: 0 5px;
    border: 1px solid var(--color-primary);
    border-radius: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.pagination-btn-active {
    color: white;
    background-color: var(--color-primary);
}

.pagination-wrapper {
    padding: 2rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-border {
    border: 1px solid var(--color-primary);
}