{% extends "base.html" %}
{% block content %}
<h1 class="rounded bg-warning-subtle bg-gradient .fs-2 text text-center text-color-
" style="max-width: 750px;">Aktualności</h1>
<div id="carouselExampleAutoplaying" class="carousel" data-bs-ride="carousel" style="max-width: 750px;">
    <div class="carousel-inner">
        {% for i in articles %}
        <div class="carousel-item active">
            <img src="{{ i.img|safe }}" class="d-md-block w-100" alt="{{ i.title }}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{i.title}}</h5>
                <p>{{i.desc}}</p>
            </div>
            <img src="{{ i.img|safe }}" class="d-md-block w-100" alt="{{ i.title }}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{i.title}}</h5>
                <p>{{i.desc}}</p>
            </div>
        </div>

        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}