{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-flex flex-column justify-content-center min-height">
    <h1 class="mb-3 main_header">Aktualności</h1>

    <div class="carousel-wrapper hide-on-mobile">
        <div id="carouselDesktop" class="carousel slide">
            <div class="carousel-inner" >
                {% for article in articles %}
                {% if forloop.counter0|divisibleby:"3" or forloop.first %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}" style="gap: 35px">
                    {% endif %}
                    <div class="card carousel-card" style="width: 33%;">
                        <div class="counter">{{ forloop.counter|stringformat:"02d" }}</div>
                        <img src="{{ article.img|safe }}" class="card-img-top fill-img h-50 img-border" alt="{{ article.title }}">
                        <div class="card-body">
                            <div class="card-article">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <p class="card-text text-ellipsis">{{ article.desc }}</p>
                                <a href="{% url 'article' id=article.id %}" class="btn px-5">Czytaj więcej >></a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter0|add:"1"|divisibleby:"3" or forloop.last %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselDesktop" data-bs-slide="prev">
            <span class="visually-hidden">Previous</span>
            <img src="{% static 'images/strzalka.svg' %}" alt="wstecz" height="50px">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselDesktop" data-bs-slide="next">
            <span class="visually-hidden">Next</span>
            <img src="{% static 'images/strzalka.svg' %}" alt="dalej" height="50px">
        </button>
    </div>

    <div class="carousel-wrapper hide-on-desktop">
        <div id="carouselMobile" class="carousel slide">
            <div class="carousel-inner">
                {% for article in articles %}
                {% if forloop.counter or forloop.first %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    {% endif %}
                    <div class="card carousel-card">
                        <img src="{{ article.img|safe }}" class="card-img-top contain-img" alt="{{ article.title }}">
                        <div class="card-body">
                            <div class="card-article">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <p class="card-text text-ellipsis">{{ article.desc }}</p>
                            </div>
                            <a href="{% url 'article' id=article.id %}" class="btn px-5">Czytaj więcej</a>
                        </div>
                    </div>
                    {% if forloop.counter or forloop.last %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMobile" data-bs-slide="prev">
            <span class="visually-hidden">Previous</span>
            <img src="{% static 'images/strzalka.svg' %}" alt="wstecz" height="30px">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMobile" data-bs-slide="next">
            <span class="visually-hidden">Next</span>
            <img src="{% static 'images/strzalka.svg' %}" alt="dalej" height="30px">
        </button>
    </div>
</div>
{% endblock %}
