<section>
  <div class="card text-bg-dark rounded-bottom" style="width: 15rem; border-radius: 0px">
    <div class="card-header">Menu</div>
    <ul class="list-group list-group-flush">
      <li><a class="list-group-item" href="#">O mnie</a></li>
      <li><a class="list-group-item" href="">Dodaj artykuł</a></li>
      <li><a class="list-group-item" href="">Moje notatki</a></li>
      <li><a class="list-group-item rounded-bottom" href="/admin">Panel admina</a></li>
    </ul>
  </div>
</section>
