{% extends "base.html" %}
{% block content %}
{% load bootstrap %}

<!--{% load crispy_forms_tags %}-->
<!--{{ notlog }}-->

<form method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header middle"><b>Logowanie</b></div>
        <div class="card-body">
            {{ form|bootstrap }}
            <div class="middle">
                <input type="submit" value="Zaloguj" , class="btn btn-secondary">
            </div>
        </div>
    </div>
    <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="{% url 'signup' %}">Rejestracja</a>
    <a class="nav-item nav-link active" href="{% url 'signin' %}">Logowanie</a>
</nav>
</form>
{% endblock %}